@model IEnumerable<Site_Pessoal.Models.Experiencia>

@{
    ViewData["Title"] = "Currículo";
}

<h1></h1>
<h3 asp-controller="Experiencias" asp-action="Index">
    Experiência Profissional
</h3>





<h3 asp-controller="Experiencias" asp-action="Index">
    Educação e Formação
</h3>

<h3 asp-controller="Experiencias" asp-action="Index">
    Competências Linguísticas
</h3>

<h3 asp-controller="Experiencias" asp-action="Index">
    Carta de Condução
</h3>

